#dropArea {
    border: 2px dashed #007bff;
    border-radius: 5px;
    transition: background-color 0.3s;
}

#dropArea.bg-light {
    background-color: #f8f9fa;
}

#dropArea.bg-success {
    background-color: #28a745;
}   

.btn.active {
    background-color: #28a745; 
    color: white;
}

.btn.active:hover {
    background-color: #25a049; 
}